<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>맛집</title>

    <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class = "container">

    <h1 class="display-4">맛집 찾아</h1>
    <p class="lead">지역 입력</p>

    <form method="post">
        <table class= "table">
            <tr>
                <td>
                    <input type="text" name="location" placeholder="지역을 입력하세요." size="40">
                    <button type="submit" id="search" class="btn btn-primary">검색</button>
                </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>